export  Q_HOST="linux1321"
#List Of hosts to be monitored 
 
# SSH USER, change me  ####Common User 
export USR="cloudera"
 
# -- Show warning if server load average is below the limit for last 5 minute
export LOAD_WARN=15.0    #####CPU Load More than
  
export MEM_WARN=1    ###### Memory Less than 1Gb
export SWAP_WARN=90   ######### SWAP more than 90%
export STIME=1843    
export NETVAL=30    ########check after 30sec if a machine is down 
export LOGDEST="/tmp/lock/subsys/logs/sysRun.log"   ###Log Dest
export MFILE=/tmp/info.html 
export minimumsize=1400



# Your network info
export MYNETINFO="System Info for Hbase Servers"
####MAIL####
export TOLIST="rpawar.021@gmail.com"
####
export FROM="SystemMonitor"
export SUB="Status of Hbase Servers"
