export  Q_HOST="myhost1 myhost2"
#List Of hosts to be monitored 
 
# SSH USER, change me  ####Common User 
export USR="aimadm90"  
 
# Show warning if server load average is below the limit for last 5 minute
export LOAD_WARN=80.0    #####CPU Load More than
  
export MEM_WARN=1    ###### Memory Less than 1Gb
export SWAP_WARN=90   ######### SWAP more than 90%
export STIME=1843     #########Random number of Sec so it will be picked up
export NETVAL=30    ########check after 30sec if a machine is down 
export LOGDEST="/tmp/logs/sysRun.log"   ###Log file path
export MFILE=/tmp/info.html     ##########
export minimumsize=1400



# Your network info
export MYNETINFO="System Info for Servers"

####MAIL####
export TOLIST="rpawar@amdocs.com "
export FROM="SystemMonitor"
export SUB="Status of Servers"
