export  Q_HOST="illin429 illin1214 illin1213 illin1212 illin1211 illin1215 illin1216 illin1217 illin1218 illin1219 illin1220"
#List Of hosts to be monitored 
 
# SSH USER, change me  ####Common User 
export USR="aimadm90"
 
# Show warning if server load average is below the limit for last 5 minute
export LOAD_WARN=80.0    #####CPU Load More than
  
export MEM_WARN=1    ###### Memory Less than 1Gb
export SWAP_WARN=90   ######### SWAP more than 90%
export STIME=1843    
export NETVAL=30    ########check after 30sec if a machine is down 
export LOGDEST="/tmp/lock/subsys/logs/sysRun.log"   ###Log Dest
export MFILE=/tmp/info.html 
export minimumsize=1400



# Your network info
export MYNETINFO="System Info for PIL Servers"
####MAIL####
export TOLIST="rpawar@amdocs.com ELENARU@amdocs.com SHAYZ@amdocs.com MADHAVID@amdocs.com RAJANV@amdocs.com SUNILAI@amdocs.com RUPESHK@amdocs.com  Amit.Bachar2@Amdocs.com Eliran.BenTov@amdocs.com  marwan.bayadsi@amdocs.com narya@amdocs.com DIPAKD@amdocs.com"
#export TOLIST="rpawar@amdocs.com"
export FROM="PILSystemMonitor"
export SUB="Status of PIL Servers"
